// responsivlik
$tablet: 768px;
$mobile-large: 500px;

.navbarmain {
  background-color: #fff;

  .nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

    .language-select {
      margin-left: 16px;


      button{
        padding: 8px;
        background-color: #fafafa;
        border: none;
        outline: none;
        margin: 0 0 0 5px;
      }
    }

    @media (max-width: $tablet) {
      .language-select {
        margin-top: 10px;
        overflow: hidden;
        display: none;
      }
    }


    .logoo {
      .logotext {
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
        color: #111111;
        text-transform: uppercase;
        display: none;

        @media (min-width: $mobile-large) {
          display: block;
        }
      }
    }

    .nav-links.desktop {
      display: none;
      
      .nav-li {
        text-decoration: none;
        margin: 0 12px;
        padding: 6px 12px;
        color: #111111;
        transition: color 0.3s;

        &:hover {
          color: #d1d5db;
        }
      }

      .active {
        border-bottom: solid 3px #f15f2a;
      }

      @media (min-width: $tablet) {
        display: flex;
        align-items: center;
      }
    }

    .search-box {
      position: relative;

      .search-input {
        background-color: #fff;
        color: #757575;
        padding: 10px 16px 10px 38px;
        border: #c9cacd solid 2px;
        border-radius: 2px;
        // border: none;
        width: 200px;
        outline: none;
      }

      .search-icon {
        position: absolute;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
        color: #c9cacd;
        font-size: 20px;
        // height: 16px;
        // width: 16px;
      }
    }

    .mobile-menu-button {
      display: block;


      @media (min-width: $tablet) {
        display: none;
      }

      .menu-btn {
        background: none;
        border: none;
        color: #111111;
        cursor: pointer;

        .icon {
          height: 24px;
          width: 24px;

        }
      }
    }
  }

  .nav-links.mobile {
    display: block;
    padding: 4px 0;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: max-height 0.5s ease, opacity 0.5s ease, transform 0.5s ease;


    @media (min-width: $tablet) {
      display: none;
    }

    .nav-li {
      display: block;
      padding: 10px 12px;
      border-radius: 6px;
      color: #111111;
      text-decoration: none;

      &:hover {
        background-color: #eee5db;
      }
    }

    &.open {
      max-height: 500px;
      transform: translateY(0);
      opacity: 1;
    }
  }

}